<form class = "registration" action = "/students" method = "post">
    <label for="first-name">First name</label>
    <input id = "first-name" type="text" name= "first_name">

    <label for="last-name">Last name</label>
    <input id = "last-name" type="text" name= "last_name">

    <label for="age">Age</label>
    <input id = "age" type="number" name= "age">

    <label for="house_select">Select House:</label>
    <select name="house_id" id="house_select">
      <% for house in @houses %>
      <option value="<%= house.id %>"><%= house.name.capitalize %></option>
      <% end %>
    </select>
    <input type="submit" value="REGISTER">
</form>
